<% unless @root_note %>
  $('input[value="<%= params[:authenticity_token] %>').closest('ol').children('li:nth-child(<%= params[:note][:parent_note_links_attributes]['0'][:position] %>)').after('<li><%=j render 'sub_note', note: @note %></li>')
<% else %>
 $('#selectable').append('<%=j render @root_note %>');
<% end %>
init_notes();
$('input[value="<%= params[:authenticity_token] %>').closest('form').remove();

